{% extends 'main/base.html'%}
{% block title %}Create post{% endblock %}
{% block content %}
    <div class="features">
        <h1>Add your post</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.announce }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit">Save</button><br>
        </form>
    </div>
{% endblock %}
