{% extends 'main/base.html'%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="features">
        <style>
            #one{text-align:left; margin:0px 0px 0px 40px;}
            #two{text-align:right;}
            #three{text-align:left;}
            #four{text-align:right;}
            #five{text-align:left;}
        </style>
        <h1 id="one"><b>Kugitang</b> - more than tradition, more than racing</h1>
        <p id="two">
            British luxury cars and their special style have always been the passion of Kourosh Kugitang, the owner
            and namesake of Kugitang. This enthusiasm made him spend many years in England and personally commit himself
            to automobile values such as tradition, craftsmanship and well-engineered technology. Already when the company
            was founded in 1989, special attention was therefore given to the brands Rolls Royce, Bentley, Aston Martin
            and Ferrari. In mid 2001, the company moved from Munich to Fichtelgebirge.</p>
        <p id="three"> At its new location in Brand
            in the vicinity of Bayreuth which is famous for its Wagner Festival, the skilled team produces high-end
            tuning in all disciplines of individual automobile manufacturing. By taking over the business division
            Porsche-Tuning from Swiss Rinspeed AG in November 2007, Kugitang additionally extended its product portfolio.
            The main focus is developing and selling a tuning and accessory programme for Porsche, BMW & Range Rover
            automobiles on an international basis
        </p><p id="four">Production on the highest technical level combined with masterful craftsmanship and most precious materials
            – this is the quality standard of the Kugitang corporation. Harmonically designed aerodynamics programmes, ultra-
            light aluminium rims and powerful engine performance enhancements are the foundation of the Kugitang technology
            programme.</p>
        <p id="five"> High-quality accessories and stylish interior fittings complete the assortment. Whether dynamically
            striking or extravagant and noble, Kugitang interiors render comfort and confidence.
            Kugitang Design & Holding GmbH solely offers its proprietary developed modification accessories. Today Kugitang
            employs more than 200 members of staff and fulfils nearly every automobile dream of its exclusive clientele. In
            Germany, Switzerland and via selected sales partners all over the world.</p>
    </div>
{% endblock %}
